<html ng-app="WhatIf">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src='js/bootstrap.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js'></script>
    <script src='js/bootstrap-datepicker.js'></script>
    <script src='js/app.js'></script>
    <link rel='stylesheet' href='css/bootstrap.css'>
    <link rel="stylesheet" href="css/datepicker.css">
    <title>What If - Sales Velocity Planner</title>
    <style type="text/css">
        td {text-align: center}
        table {margin: left}
        th {text-align:left}
        h2 {text-align:center}
        .clshid {display: none; visibility: hidden;}
        .clsshow {display: block; visibility: visible;}
        .clsInputYellow {background-color: yellow; }
    </style>
    <script>
        // When the document is ready
        $(document).ready(function () {

            $('#txtDate').datepicker({
                format: "mm/dd/yyyy"
            });

        });
        function clock($scope)
        { //begin clock function
            $scope.currenttime = new Date();
        } //end clock function
    </script>
</head>
<body style="padding-left:10%; padding-top:24px; font-family: calibri(body)">
<div ng-controller='NavController'>
    <table style="width: 69%">
 <tr>
    <td style="text-align: left"><img src="images/PNLogo.jpg" style="width:386px;height:86px" /></td>
    <td style="color: #428bca; font-size: 15pt; text-align: right; padding-top: 0px">{{vTitle}}</td>
 </tr>
    </table>
    <ul class="nav nav-pills" style="font-size:15pt">
        <li class='{{cssdef}}'><a ng-click="goDef()">Definitions & Assumptions</a></li>
        <li class='{{csswhatif}}'><a ng-click="goWhatIf()">What If</a></li>
    </ul>
<div id="main" ng-controller='SVController'>
<div name="divWhatIf" class='{{whatifclass}}'>
<br /><br /><br /><br /><br /><br /><br />
<table style="font-size:18pt">
<tr>
  <td colspan="13" style="border:1px solid #ffffff;padding-top: 1px; padding-bottom: 1px; background-color: #ffffff"></td>
</tr>
<tr>
 <td colspan="13" style="border:1px solid #ffffff;padding-top: 1px; padding-bottom: 1px; background-color: #ffffff"></td>
</tr>
 <tr>
  <td colspan="13" style="border:1px solid #ffffff;padding-top: 1px; padding-bottom: 1px; background-color: #ffffff"></td>
 </tr>
 <tr>
  <td colspan="13" style="border:1px solid #ffffff;padding-top: 1px; padding-bottom: 1px; background-color: #ffffff"></td>
 </tr>
    <tr>
        <td colspan="13" style="border:1px solid #ffffff;padding-top: 1px; padding-bottom: 1px; background-color: #ffffff"></td>
    </tr>
    <tr>
        <td colspan="13" style="border:1px solid #ffffff;padding-top: 1px; padding-bottom: 1px; background-color: #ffffff"></td>
    </tr>
<tr>
    <td>Monthly Sales Velocity</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td rowspan="2" style="vertical-align: middle;font-size:14pt">&#61;</td>
    <td colspan="2">&nbsp;&nbsp;&nbsp;</td>
    <td>Sales Ready Opportunities</td>
    <td colspan="2">&nbsp;&nbsp;&nbsp;</td>
    <td rowspan="2" style="vertical-align: middle;font-size:14pt">&#88;</td>
    <td colspan="2">&nbsp;&nbsp;&nbsp;</td>
    <td>Average Deal Size</td>
    <td colspan="2">&nbsp;&nbsp;&nbsp;</td>
    <td rowspan="2" style="vertical-align: middle;font-size:14pt">&#88;</td>
    <td colspan="2">&nbsp;&nbsp;&nbsp;</td>
    <td>Win/Loss Ratio</td>
</tr>
    <tr>
        <td><input type="text" ng-model="scenarios.sv" currency-input="" placeholder="Enter Value" style="background-color:#9BC2E6; width:100%;text-align: center" /></td>
        <td colspan="2">&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td><input type="text" ng-model="sro" readonly="true" currency-input="" placeholder="Enter Value" style="background-color:#FFFF99; width:100%;text-align: center" /></td>
        <td colspan="2">&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td><input type="text" ng-model="scenarios.ads" currency-input="" placeholder="Enter Value" style="background-color:#9BC2E6; width:230px;text-align: center" /></td>
        <td colspan="2">&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td><input type="text" ng-model="scenarios.wlr" percent-input="" placeholder="Enter Value" style="background-color:#9BC2E6; width:230px;text-align: center" /></td>
    </tr>
    <tr style="text-align: center;padding-bottom: 2px; padding-top: 2px">
        <td></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="13" style="border:1px solid #ffffff;padding-top: 1px; padding-bottom: 1px; background-color:#ffffff"></td>
    </tr>
    <tr style="text-align: center;padding-bottom: 2px; padding-top: 2px">
        <td></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="13" style="border:1px solid #ffffff;padding-top: 1px; padding-bottom: 1px; background-color:#ffffff"></td>
    </tr>
    <tr style="text-align: center;padding-bottom: 2px; padding-top: 2px">
        <td></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="13" style="border:1px solid #ffffff;padding-top: 1px; padding-bottom: 1px; background-color:#ffffff"></td>
    </tr>
    <tr style="text-align: center;padding-bottom: 2px; padding-top: 2px">
        <td></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="13" style="border:1px solid #000000;padding-top: 1px; padding-bottom: 1px; background-color:#000000"></td>
    </tr>
    <tr style="text-align: center;padding-bottom: 2px; padding-top: 2px">
        <td></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="13" style="border:1px solid #ffffff;padding-top: 1px; padding-bottom: 1px; background-color:#ffffff"></td>
    </tr>
    <tr style="text-align: center;padding-bottom: 2px; padding-top: 2px">
        <td></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="13" style="border:1px solid #ffffff;padding-top: 1px; padding-bottom: 1px; background-color:#ffffff"></td>
    </tr>
    <tr style="text-align: center;padding-bottom: 2px; padding-top: 2px">
        <td></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="13" style="border:1px solid #ffffff;padding-top: 1px; padding-bottom: 1px; background-color:#ffffff"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="13" style="text-align: center;"><input type="text" ng-model="scenarios.atc" currency-input="" placeholder="Enter Value" style="background-color:#9BC2E6; width:100%;text-align: center" /></td>
    </tr>
    <tr>
        <td colspan="18" style="text-align: center"></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">&nbsp;</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="13" style="text-align: center">Average time to Close (Days)</td>
    </tr>
    <tr>
        <td colspan="18">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="18">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="18">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="18">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="18">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="18" style="font-size:10pt; text-align: left">*Once you provide your definitions on the previous tab or below in the blue fields, the tool will define the Sales Ready Opportunities required to reach your goal.</td>
    </tr>
 </table>
   </div>
<div name="divDef" class='{{defclass}}'>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <table style="font-size:16pt">
        <tr>
            <td style="text-align:right">Goal:</td>
            <td>Monthly Sales Velocity</td>
            <td style="padding-left: 4px; padding-right: 4px">&#61;</td>
            <td><input type="text" ng-model="scenarios.sv" currency-input="" placeholder="Enter Value" style="background-color:#ffffff; width:100%;text-align: center" /></td>
        </tr>
        <tr>
           <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
           <td style="text-align:right">Past Production:</td>
           <td>Average Deal Size</td>
            <td>&#61;</td>
            <td><input type="text" ng-model="scenarios.ads" currency-input="" placeholder="Enter Value" style="background-color:#ffffff; width:100%;text-align: center" /></td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Win/Loss Ratio</td>
            <td>&#61;</td>
            <td><input type="text" ng-model="scenarios.wlr" percent-input="" placeholder="Enter Value" style="background-color:#ffffff; width:100%;text-align: center" /></td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Average time to Close (Days)</td>
            <td>&#61;</td>
            <td><input type="text" ng-model="scenarios.atc" currency-input=""  placeholder="Enter Value" style="background-color:#ffffff; width:100%;text-align: center" /></td>
        </tr>
    </table>
</div>
</div>
</div>
</body>
</html>